<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-title">
        <h1><%= @user.name %></h1>
      </div>

      <div class= "media-body">
        <h1 class="media-heading">Wikis created by me</h1>
        <% @user.wikis.each do |wiki|%>
        <h2><%=link_to(wiki.title, wiki)%></h2>
        <%end%>
        <h1 class="media-heading">Wikis where I am a collaborator<h1>
          <% @user.wiki_collaborations.each do |collaboration|%>
            <h2><%=link_to(collaboration.title, collaboration)%></h2>
          <%end%>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <%if policy(@user).premium_list?%>
        <%=button_to "Go back to Standard", users_unsubscribe_path, {method: 'post', :params => params, class: 'btn btn-success', type:'button', style:'display:inline-block',data: { confirm: "Are you sure?" }} %><br>
        <%end%>
      </div>
      <%=button_to "Edit User", edit_user_registration_path, {method: 'get', class: 'btn btn-success', type:'button', style:'display:inline-block'}%>
    </div>
  </div>
